html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
  margin-top: 70px;
}

.header-bar {
  background-color: darkred;
  position: fixed;
  height: 60px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 3rem;
  text-align: center;
  color: black;
}

.nav-bar {
  margin-top: 18px;
  text-align: center;
  position: relative;
  left: -21px;
}

#homepage-nav {
  text-align: center;
  position: relative;
  left: 0px;
}

.nav-bar ul {
  text-align: center;
  font-weight: bold;
  display: inline;
}

.nav-bar li {
  margin: 0;
  padding: 20px;
  display: inline;
}

.nav-bar a {
  color: white;
	font-size: 1em;
	text-decoration: none;
}

.nav-bar a:hover {
  color: red;
  text-shadow: 0px 0px 8px rgba(255,0,0, 0.6);
}

.nav-bar a:active {
  color: darkorange;
}

.jumbo-quote {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 200px;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  background-image: url("https://raw.githubusercontent.com/c3carclubsandiego/c3carclubsandiego.github.io/master/_assets/banner1.jpg");
  background-size: cover;
}

.link-gap {
  position: relative;
  height: 60px;
}

.about-us-title {
  margin-left: 80px;
}

.about-us {
  color: black;
  border: 1px solid black;
  font-weight: normal;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.page-description {
  font-size: 1.5rem;
}

.board-members{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.bio{
  text-align: center;
  max-width: 200px;
  min-width: 200px;
  background-color: lightgrey;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
}

.jumbo-community {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 200px;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  background-image: url("https://raw.githubusercontent.com/c3carclubsandiego/c3carclubsandiego.github.io/master/_assets/communitypic.jpg");
  background-size: cover;
  background-position: 50% 52%;
}

.community-title {
  margin-left: 80px;
}

.our-community {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
  border: 1px solid black;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.jumbo-join-us {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 300px;
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  background-image: url("https://raw.githubusercontent.com/c3carclubsandiego/c3carclubsandiego.github.io/master/_assets/joinuspic.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.join-us-title {
  margin-left: 80px;
}

.join-us {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
  border: 1px solid black;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.gallery-title {
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 30px;
  margin-top: 80px;
  text-align: center;
}

.gallery-title p{
  font-size: 1.5rem;
  padding-left: 200px;
  padding-right: 200px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  margin-left: 60px;
  margin-right: 60px;
  background-color: white;
}

.gallery-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.thumbnail {

}

.back-to-top {
  text-align: center;
}

.back-to-top a {
  color: darkred;
	font-size: 1em;
	text-decoration: none;
}

.back-to-top a:hover {
  color: red;
  text-shadow: 0px 0px 8px rgba(255,0,0, 0.6);
}

.back-to-top a:active {
  color: darkorange;
}

.lower-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lower-links a {
  color: white;
	font-size: 2rem;
  font-weight: bold;
	text-decoration: none;
}

.gallery-link {
  margin: 25px;
  padding: 40px;
  background-color: darkred;
}

.gallery-link:hover {
  margin: 25px;
  padding: 40px;
  background-color: red;
}

.gallery-link:active {
  margin: 25px;
  padding: 40px;
  background-color: orange;
}

.video-link {
  margin: 25px;
  padding: 40px;
  background-color: darkred;
}

.video-link:hover {
  margin: 25px;
  padding: 40px;
  background-color: red;
}

.video-link:active {
  margin: 25px;
  padding: 40px;
  background-color: orange;
}

footer {
  text-align: center;
}
